# Archivos compilados de Java
*.class

# Empaquetados de Java (Archivos pesados)
*.log
*.jar
*.war
*.ear

# Carpetas de compilación (Si usan Maven o Gradle)
target/
build/
.gradle/

# Archivos de configuración de NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Archivos de configuración de IntelliJ IDEA / Eclipse
.idea/
*.iml
*.iws
.project
.classpath
.settings/

# Archivos de configuración de Visual Studio Code
.vscode/*
!.vscode/settings.json

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db
